/* 重置和基础样式 */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* 背景图和毛玻璃效果 */
body {
    background: url('/static/bluearchive.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 导航栏样式 */
.sidebar {
    background: rgba(0 191 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 165px; /* 导航栏宽度 */
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease;
}

.navbar li a:hover, .navbar li a.active {
    background: rgba(255, 255, 255, 0.2);
}

/* 内容区域样式 */
.content {
    padding: 20px;
    margin-left: 200px; /* 导航栏宽度 */
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%; /* 内容区域宽度 */
    max-width: 1000px; /* 内容区域最大宽度 */
}

.category-container {
    margin: 20px auto;
    padding: 20px;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.post {
    margin-bottom: 20px;
}

.post-box {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.post-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-summary {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.post-container {
    padding: 20px;
}

.post-header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.post-title {
    margin-bottom: 10px;
    color: #333;
}

.post-content {
    /* 文章内容的样式 */
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    padding: 20px;
}

.fireworks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0 191 255);
    z-index: 1; /* 确保 fireworks 在最底层 */
    pointer-events: none; /* 防止 fireworks 阻挡点击事件 */
}

@media (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}